<div class="heading">
    <span>vindhya institute of management & science</span>
    <hr class="hr1">
    <hr class="hr2">
</div>
<div class="sub-footer">
    <div class="about column">
        <div class="heading">
            <span>About</span>
            <hr class="hr1">
            <hr class="hr2">
        </div>
        <p>
            VIMS is the most preferred choice of the students. The State of the Art infrastructure ,ambience and
            above all student friendly environment are its main characteristic.
        </p>
    </div>

    <div class="quick-links column">
        <div class="heading">
            <span>Quick Links</span>
            <hr class="hr1">
            <hr class="hr2">
        </div>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="contact column">
        <div class="heading">
            <span>Contact</span>
            <hr class="hr1">
            <hr class="hr2">
        </div>
        <p>
            <i class="fa-solid fa-location-dot"></i>
            647 karhi road, Amoudha, Satna, (M.P)-485002
        </p>
        <p>
            <i class="fa-solid fa-phone"></i>
            +9339197904 <br>
            +8982270775
        </p>
        <p>
            <i class="fa-solid fa-envelope"></i>
            vimscoresatna@gmail.com
        </p>
    </div>

    <div class="map column">

        <div class="heading">

            <span><img src="images/vims.jpg" alt="">VIMS SATNA</span>
            <hr class="hr1">
            <hr class="hr2">
        </div>
        <a href="#">
            <img src="images/location.png" alt="img">
        </a>
    </div>
</div>
<div class="social-icons">
    <a href="#">
        <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#">
        <i class="fa-brands fa-youtube"></i>
    </a>
    <a href="#">
        <i class="fa-brands fa-twitter"></i>
    </a>
</div>
<hr>
<p class="copyright">
    &copy; VIMS 2024. All Right Reserved.
</p>