<div class="quick-links">
    <a href="enquiry.html">Enquiry</a>
    <a href="#">Alumni</a>
    <a href="#">Login</a>
    <a href="#">Contact</a>
</div>
<div class="nav">

    <div class="logo">
        <img src="images/logo.png" alt="Logo" id="logoImg">
        <span id="logoTxt">
            Triggering <br>
            Transformations
        </span>
    </div>

    <div class="main-nav">
        <div class="title-search">
            <p>
                <span>vindhya</span>
                <span>institute</span>
                <span>of</span>
                <span>management</span>
                <span>& science</span>
            </p>
            <div class="search">
                <input type="text" id="nav-search" placeholder="Search" />
                <div class="go">Go</div>
            </div>
        </div>


        <ul class="nav-links">
            <li>
                <a href="aboutUs.html">
                    About Us
                </a>
            </li>
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Academic
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="sub-menu">
                    <ul class="sub-links">
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="facility1.html">Facility</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    Departments
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="sub-menu">
                    <ul class="sub-links">
                        <li><a href="dpt_sc.html">Department of Science</a></li>
                        <li><a href="dpt_comp.html">Department of Computer</a></li>
                        <li><a href="dpt_com.html">Department of Commerce</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="t&p.html">Training & Placement</a>
            </li>
            <li>
                <a href="enquiry.html">Admission</a>
            </li>

            <li>
                <a href="#">
                    Results
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="sub-menu">
                    <ul class="sub-links">
                        <li><a href="https://result.apsurewa.ac.in/result/Programselect">Bsc</a></li>
                        <li><a href="https://result.apsurewa.ac.in/result/Programselect">BCA</a></li>
                        <li><a href="https://result.apsurewa.ac.in/result/Programselect">B.Com</a></li>
                        <li><a href="https://result.apsurewa.ac.in/result/Programselect">BBA</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">Media
                    <i class="fa-solid fa-angle-down"></i>
                </a>
                <div class="sub-menu">
                    <ul class="sub-links">
                        <li><a href="galary.html">Galary</a></li>
                        <li><a href="sports.html">Sports</a></li>
                        <li><a href="achievements.html">Achievements</a></li>
                        <li><a href="news.html">Latest News</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>
<div class="announcement">
    <div class="heading">What's New</div>
    <div class="content">

        <a href="#">day celebration at vims-live webcast</a>

        <a href="#">live webcast of independence day celebration</a>

        <a href="#">60th convocation-live stream</a>

    </div>
    <div class="next">
        <i class="fa-solid fa-angle-left"></i>
        <i class="fa-solid fa-angle-right"></i>
    </div>
</div>
